ul li{
	list-style:none;
	margin:5px;
}
h3{
	border-bottom:1px solid #C0C0C0;
}
label{
	width:140px;
}         
#duple{
	padding:10px;
}          
#info{
	color:gray;
	padding:10px;
}
#message_id{
	padding:5px;        
}
#wrapAll{
	padding:10px;
}
#followImg{              
	width:200px;
	height:200px;
	object-fit:cover;
	display:inline-block;
	border-radius:50%;
	overflow:hidden;
}
#tip{
	border:1px solid #C0C0C0;
	padding:10px;
	border-radius:10px;
	margin-bottom:10px;
}