label{
	width:240px;
}
ul li{
	list-style:none;
	padding:5px;
}
#wrapAll{
	padding:10px;
}
#confirmId{
	margin-top:-5px;
}
#button1,
#button2{       
	margin:5px;
}       
h3{
	border-bottom:1px solid #C0C0C0;
	width:70%;
}    
#confirmId{
	margin:5px;
}